html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	height: max-content;
	width: 90vw;
	margin: 0 5vw;
}

.menu-item {
	margin: 5px 20px;
	padding: 10px 25px;
	display: inline-block;
	user-select: none;
	position: relative;
	outline: 1px solid black;
	& div {
		display: inline-block;
		vertical-align: top;
		& img {
			object-fit: cover;
			height: 175px;
			width: 175px;
			border: 1px solid black;
		}
	}
	& .sect-2 {
		outline: 1px solid black;
		padding: 2px;
		height: 175px;
		width: max-content;
		text-align: center;
		& p {
			margin: 0;
			user-select: none;
			text-transform: capitalize;
			text-decoration: underline;
		}
		& #cost {
			text-decoration: none;
			margin-top: 20px;
			font-size: 20px;
		}
		& div {
			width: 150px;
			height: max-content;
			& .number-input {
				border-spacing: 0;
				font-size: 25px;
				position: relative;
				transform: translateX(-50%);
				left: 50%;
				& td:nth-child(1), & td:nth-child(3) {
					user-select: none;
					cursor: pointer;
					position: relative;
					bottom: 1px;
				}
			}
		}
	}
	& #add-to-order {
		user-select: none;
		cursor: pointer;
		display: block;
		border: 2px solid black;
		background-color: skyblue;
		border-radius: 25px;
		padding: 5px 10px;
		width: max-content;
		transition: 250ms;
		margin: auto;
		position: relative;
		top: 10px;
		&:hover {
			transform: scale(1.1);
		}
	}
	& .error-msg-container {
		margin: 0;
		text-align: center;
		font-weight: 700;
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
		& #error {
			margin: 0;
			font-size: 20px;
			pointer-events: none;
			white-space: nowrap;
			transform: translateX(-50%);
			text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
			position: absolute;
		}
	}
}

.order-placement-menu {
	visibility: hidden;
	width: 100vw;
	height: max-content;
	padding: 20px 0;
	background-color: white;
	outline: 2px solid black;
	transition: 500ms;
	position: fixed;
	bottom: -250px;
	& > .order-placement-menu-body {
		height: max-content;
		width: max-content;
		max-width: 90vw;
		transform: translateX(-50%);
		position: relative;
		left: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		& > * {
			margin: 10px;
			white-space: nowrap;
		}
		& .place-order-btn {
			user-select: none;
			cursor: pointer;
			width: max-content;
			background-color: skyblue;
			padding: 10px 15px;
			border-radius: 15px;
			transition: 250ms;
			font-weight: 700;
			border: 3px solid black;
			justify-self: center;
			&:hover {
				transform: scale(1.1);
			}
		}
		& .edit-order-btn {
			user-select: none;
			cursor: pointer;
			width: max-content;
			background-color: skyblue;
			padding: 5px 10px;
			border-radius: 15px;
			transition: 250ms;
			font-weight: 700;
			border: 3px solid black;
			&:hover {
				transform: scale(1.1);
			}
		}
		& .biscuit-inclusion {
			user-select: none;
			cursor: pointer;
			width: max-content;
			background-color: #FF4A3F;
			padding: 5px 10px;
			border-radius: 15px;
			transition: 250ms;
			font-weight: 700;
			border: 3px solid black;
			&:hover {
				transform: scale(1.1);
			}
		}
		& .pickup-input-container {
			width: max-content;
			& .time-select {
				margin: 3px 0;
				text-decoration: none;
				& input {
					width: 20px;
					display: inline-block;
					margin: 0;
				}
			}
			& p {
				margin: 0;
				text-align: center;
				text-decoration: underline;
			}
			& input {
				border: 1px solid black;
				margin: 10px 0;
				width: 100%;
				display: block;
			}
		}
		& .total-price {
			font-size: 20px;
		}
		& textarea {
			border: 1px solid black;
			white-space: break-spaces;
			resize: none;
			font-family: sans-serif;
		}
	}
}

#current-order-modal {
	background-color: white;
	border: 4px solid black;
	outline: 1px solid black;
	border-radius: 5%;
	width: 70vh;
	height: 70vh;
	& .title {
		margin: 0;
		text-align: center;
		font-weight: 700;
		text-decoration: underline;
		font-size: 25px;
	}
	& .clear-order-modal-btn {
		user-select: none;
		cursor: pointer;
		width: max-content;
		background-color: skyblue;
		padding: 5px 10px;
		border-radius: 15px;
		transition: 250ms;
		font-weight: 700;
		border: 3px solid black;
		transform: translateX(-50%);
		position: absolute;
		bottom: 3%;
		left: 50%;
		&:hover {
			transform: translateX(-50%) scale(1.1);
		}
	}
	& .close-modal-btn {
		user-select: none;
		cursor: pointer;
		width: max-content;
		background-color: skyblue;
		padding: 5px 10px;
		border-radius: 15px;
		transition: 250ms;
		font-weight: 700;
		border: 3px solid black;
		position: absolute;
		bottom: 3%;
		right: 3%;
		&:hover {
			transform: scale(1.1);
		}
	}
	& .modal-body {
		width: 90%;
		height: 80%;
		overflow-x: hidden;
		overflow-y: scroll;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		&::-webkit-scrollbar {
			display: none;
		}
		& table {
			width: 100%;
			& td, th {
				width: 19.2%;
				outline: 1px solid black;
				&:last-child {
					width: 4%;
				}
			}
			& td {
				padding: 2px 5px;
				text-align: right;
				user-select: none;
				&:nth-child(5) {
					cursor: pointer;
				}
				&:nth-child(6) {
					cursor: pointer;
					& img {
						transition: 150ms;
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
			& th {
				background-color: #afafaf;
			}
		}
	}
	& .blur-backdrop {
		width: 90%;
		height: 80%;
		transition: 250ms;
		pointer-events: none;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.admin-order-table {
	width: 100%;
	user-select: none;
	margin-bottom: 10px;
	border-collapse: collapse;
	position: relative;
	--comment-text: "*temp_onload*";
	--comment-opacity: 0;
	& tr, td, th {
		border: 1px solid black;
	}
	& > tbody > tr:first-child {
		background-color: #585858;
		color: white;
		letter-spacing: 1px;
		& th {
			width: 20%;
		}
		& th:nth-child(5), th:last-child {
			cursor: pointer;
			width: 2.5%;
			& img {
				transition: 250ms;
				transform: translateY(2px);
				&:hover {
					transform: translateY(2px) scale(1.1);
				}
			}
		}
	}
	& .active-order {
		width: 100%;
		border-collapse: collapse;
		text-transform: capitalize;
		& tr:first-child {
			background-color: #818181;
		}
		& tr:not(tr:first-child) > td {
			width: 20%;
			text-align: right;
			padding: 0 10px;
		}
	}
	&::before {
		opacity: var(--comment-opacity);
		content: var(--comment-text);
		white-space: break-spaces;
		max-width: 90%;
		max-height: 90%;
		overflow-x: hidden;
		overflow-y: auto;
		transition: 150ms;
		background-color: white;
		border: 3px solid black;
		border-radius: 10px;
		padding: 5px 10px;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.confirm-backdrop {
	user-select: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	& .confirm-container {
		font-size: 20px;
		max-width: 300px;
		text-transform: capitalize;
		background-color: white;
		padding: 10px 20px;
		border-radius: 10px;
		border: 2px solid black;
		transform: translate(-50%, -50%);
		position: fixed;
		left: 50%;
		top: 50%;
		& .head > p {
			margin: 0;
			margin-bottom: 5px;
			text-align: center;
		}
		& .foot {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			& div {
				margin: 0 10px;
				padding: 2px 5px;
				border-radius: 10px;
				border: 1px solid black;
				transition: 250ms;
				cursor: pointer;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

.login-container {
	font-size: 20px;
	user-select: none;
	margin: 40px 0 0 20px;
	& input {
		transform: translateY(-1px);
	}
	& table {
		border-collapse: collapse;
		& td:first-child {
			padding-left: 5px;
		}
		& td:last-child {
			padding: 2px 5px 2px 0;
		}
	}
	& .submit-btn {
		margin-top: 15px;
		width: max-content;
		background-color: skyblue;
		padding: 5px 10px;
		transition: 250ms;
		cursor: pointer;
		border-radius: 15px;
		border: 2px solid black;
		&:hover {
			transform: scale(1.1);
		}
	}
}